html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
}

h1 {
	margin-top: 0;
	font-size: 48px;
	color: red;
	border-bottom: 10px solid silver;
}

h2 {
	font-size: 30px;
}

.foto {
	width: 300px;
	margin: 0 0 20px 30px;
	float: right;
	border: 2px solid blue;
}